 #虚拟主机配置(万网虚拟主机)

 <IfModule mod_rewrite.c>
      RewriteEngine on
      RewriteBase /

      #匹配资源文件
      RewriteCond %{REQUEST_URI} ^/static/
      RewriteRule ^(.*)$ /public/$1 [QSA,PT,L]

      #匹配路由URL
      RewriteCond %{REQUEST_URI} !^/public/
      RewriteRule ^(.*)$ /public/$1 [QSA,PT,L]
 </IfModule>